<h2>Template</h2>
<hr>
<ul class="list-group">
  <li
    *ngFor="let templateMenuItem of templateMenuItems"
    class="list-group-item"
    [routerLink]="[templateMenuItem.route]"
    routerLinkActive="active"
  >
    {{templateMenuItem.text}}
  </li>
</ul>

<h2 class="mt-3">Reactive</h2>
<hr>
<ul class="list-group">
  <li
    *ngFor="let reactiveMenuItem of reactiveMenuItems"
    class="list-group-item"
    [routerLink]="[reactiveMenuItem.route]"
    routerLinkActive="active"
  >
    {{reactiveMenuItem.text}}
  </li>
</ul>

<h2 class="mt-3">Validations</h2>
<hr>

<ul class="list-group">
  <li
    *ngFor="let authMenuItem of authMenuItems"
    class="list-group-item"
    [routerLink]="[authMenuItem.route]"
    routerLinkActive="active"
  >
    {{authMenuItem.text}}
  </li>
</ul>

<h2 class="mt-3">Selector</h2>
<hr>

<ul class="list-group">
  <li
    *ngFor="let selectorMenuItem of selectorMenuItems"
    class="list-group-item"
    [routerLink]="[selectorMenuItem.route]"
    routerLinkActive="active"
  >
    {{selectorMenuItem.text}}
  </li>
</ul>
