<h2>Reactive: <small>Dynamics</small></h2>
<hr>

<form
  autocomplete="off"
  [formGroup]="dynamicForm"
  (ngSubmit)="onSubmit()"
  (keydown.enter)="$event.preventDefault()"
>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="User name"
        formControlName="userName"
      >
      <span
        class="form-text text-danger"
        *ngIf="notValidField('userName')"
      >
        User name must have al least 3 letters
      </span>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Add</label>
    <div class="col-sm-9">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Add favorite"
          [formControl]="newFavorite"
          (keyup.enter)="onAdd()"
        >
        <button
          (click)="onAdd()"
          type="button"
          class="btn btn-outline-primary">
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favorites</label>
    <div formArrayName="favorites" class="col-sm-9">
      <div *ngFor="let favorite of favoritesArray.controls, let i = index" class="input-group mb-3">
        <input
          [formControlName]="i"
          class="form-control"
        >
        <button
          (click)="onDelete(i)"
          type="button"
          class="btn btn-outline-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="submit"
        class="btn btn-primary float-end"
      >
        <span class="bi bi-save me-1"></span>
        Save
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{dynamicForm.valid}}</pre>

    <span>Pristine</span>
    <pre>{{dynamicForm.pristine}}</pre>

    <span>Touched</span>
    <pre>{{dynamicForm.touched}}</pre>

    <span>Value form</span>
    <pre>{{dynamicForm.value | json}}</pre>

    <span>New favorite control</span>
    <pre>{{{value: newFavorite.value,  valid: newFavorite.valid}| json}}</pre>

  </div>
</div>

